<% if @scripts.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Script.human_attribute_name 'name' %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @scripts.each do |script| %>
        <tr>
          <td><%= script.name %></td>
          <td class="text-right">
            <%= link_to script.active_issues_count, script_issues_path(script) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @scripts %>
<% end %>
