<tr <%== 'class="info"' if current_user.current_membership == membership %> data-id="<%= membership.id %>">
  <td><%= membership.account %></td>
  <td><%= link_to_default membership %></td>
  <td><%= link_to_switch membership %></td>
  <td><%= link_to_show membership %></td>
</tr>
