<%= render 'filters' %>

<% if @memberships.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Membership.human_attribute_name 'account' %></th>
        <th><%= Membership.human_attribute_name 'default' %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @memberships.each do |membership| %>
        <%= render 'membership', membership: membership %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @memberships %>
<% end %>
