<%= simple_form_for @script do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-11 col-md-10 col-xs-9">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
      <div class="col-lg-1 col-md-2 col-xs-3 bottom text-right">
        <div class="checkbox">
          <label>
            <%= f.check_box :core %> <%= Script.human_attribute_name 'core' %>
          </label>
        </div>
      </div>
    </div>
    <div class="hidden">
      <%= f.input :text, input_html: { rows: 5 } %>
    </div>
    <div class="editor"></div>
    <%= f.input :file, label: false, hint: file_identifier, input_html: { disabled: @script.text.present? } %>
    <%= f.input :file_cache, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Require.model_name.human count: 0 %>
        </h3>
      </div>
      <div id="requires" class="panel-body">
        <%= f.simple_fields_for :requires, requires do |rf| %>
          <%= render 'requires/require', f: rf %>
        <% end %>

        <%= link_to_add_fields t('scripts.new.require'), f, :requires %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Tag.model_name.human count: 0 %>
        </h3>
      </div>
      <div id="tags" class="panel-body">
        <%= f.simple_fields_for :taggings, script_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf %>
        <% end %>

        <%= link_to_add_fields t('scripts.new.tagging'), f, :taggings %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
