<%= simple_form_for @script do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-11 col-md-10 col-xs-9">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
      <div class="col-lg-1 col-md-2 col-xs-3 bottom text-right">
        <div class="checkbox">
          <label>
            <%= f.check_box :core %> <%= Script.human_attribute_name 'core' %>
          </label>
        </div>
      </div>
    </div>
    <div class="hidden">
      <%= f.input :text, input_html: { rows: 5 } %>
    </div>
    <div class="editor"></div>
    <%= f.input :file, label: false, hint: file_identifier, input_html: {
      disabled: @script.text.present?,
      class: @script.text.present? && 'hidden'
    } %>
    <%= f.input :file_cache, as: :hidden %>
    <%= f.input :change, wrapper_html: {
      class: @script.errors[:change].blank? && 'hidden'
    } %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#requires" data-toggle="collapse">
            <%= Require.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="requires" class="collapse panel-body">
        <%= f.simple_fields_for :requires, requires do |rf| %>
          <%= render 'requires/require', f: rf %>
        <% end %>

        <%= link_to_add_fields t('scripts.new.require'), f, :requires %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#tags" data-toggle="collapse">
            <%= Tag.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="tags" class="collapse panel-body">
        <%= f.simple_fields_for :taggings, script_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf, kind: 'script' %>
        <% end %>

        <%= link_to_add_fields t('scripts.new.tagging'), f, :taggings, kind: 'script' %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="#parameters" data-toggle="collapse">
          <%= Parameter.model_name.human count: 0 %>
        </a>
      </h3>
    </div>
    <div id="parameters" class="collapse panel-body">
      <%= f.simple_fields_for :parameters, parameters do |df| %>
        <%= render 'parameters/parameter', f: df %>
      <% end %>

      <%= link_to_add_fields t('scripts.new.parameter'), f, :parameters %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="#descriptions" data-toggle="collapse">
          <%= Description.model_name.human count: 0 %>
        </a>
      </h3>
    </div>
    <div id="descriptions" class="collapse panel-body">
      <%= f.simple_fields_for :descriptions, descriptions do |df| %>
        <%= render 'descriptions/description', f: df %>
      <% end %>

      <%= link_to_add_fields t('scripts.new.description'), f, :descriptions %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
