<div class="card">
  <div class="card-header">
    <h5>
      <%= lang_icon @script %> <%= t "scripts.languages.#{@script.language}" %> - <%= @title %>

      <%= render 'tickets/edit_owner' %>
    </h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>

<div class="mt-3">
  <%= link_to_show @script %> |
  <%= link_to_index scripts_path %>
</div>
