<h2><%= @script %></h2>

<% if @script.file.present? %>
  <p>
    <strong><%= Script.human_attribute_name 'file' %></strong>:
    <%= link_to t('messages.download'), @script.file.url %>
  </p>
<% end %>

<% if @script.text.present? %>
  <textarea name="script[text]" id="script_text" class="hidden"><%= @script.text %></textarea>
  <div class="editor" data-readonly="true"></div>
<% end %>

<% if @script.requires.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Require.model_name.human count: @script.requires.size %>
      </h3>
    </div>
    <div id="requires" class="panel-body">
      <ul>
        <% @script.requires.each do |require| %>
          <li><%= link_to require.script, require.script %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @script] %> |
<%= link_to_index scripts_path %>
