<div class="card">
  <div class="card-header">
    <h4 class="clearfix">
      <%= lang_icon @script %> <%= t "scripts.languages.#{@script.language}" %> - <%= @script %>
      <small class="float-end">
        <% if @script.core %>
          <%= icon 'fas', 'star', class: 'mr-2', title: Script.human_attribute_name('core') %>
        <% end %>
        <%= link_to_execute do %>
          <%= icon 'fas', 'play' %>
          <%= t '.execute_now' %>
        <% end %>
      </small>
    </h4>
  </div>

  <div class="card-body">
    <% if @script.attachment.attached? %>
      <p class="mb-1">
        <strong><%= Script.human_attribute_name 'attachment' %></strong>:
        <%= link_to t('messages.download'), rails_blob_path(@script.attachment, disposition: 'attachment') %>
      </p>
    <% end %>

    <% if @script.text.present? %>
      <textarea
        name="script[text]"
        id="script_text"
        class="editor"
        data-editor="true"
        data-language="<%= @script.language %>"
        data-phrases="<%= editor_phrases.to_json %>"
        data-observe-other-fields="true"
        data-readonly="true"><%= @script.text %></textarea>
    <% end %>

    <% if @script.change.present? %>
      <p class="mb-3">
        <strong><%= Script.human_attribute_name 'change' %></strong>:
        <%= link_to @script.change, '#diff', data: { toggle: 'collapse' } %>
      </p>

      <div id="diff" class="card collapse my-3">
        <div class="card-body">
          <%= last_change_diff %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @script.jobs.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Schedule.model_name.human count: @script.jobs.size %>
      </h5>
    </div>
    <div id="jobs" class="card-body">
      <ul>
        <% @script.jobs.each do |job| %>
          <li><%= link_to_if current_user.can?(:read, 'schedules'), job.schedule, job.schedule %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.runs.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= t '.last_runs' %>
      </h5>
    </div>
    <div id="runs" class="card-body">
      <dl class="row">
        <% @script.runs.ordered.first(5).each do |run| %>
          <dt class="col-sm-3 col-md-2 col-lg-3 col-xl-2">
            <%= run_status run.status %>
          </dt>
          <dd class="col-sm-9 col-md-10 col-lg-9 col-xl-10">
            <%= link_to_if current_user.can?(:read, 'schedules'), run, run %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>

<% if @script.executions.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= t '.last_executions' %>
      </h5>
    </div>
    <div id="executions" class="card-body">
      <dl class="row">
        <% @script.executions.ordered.first(5).each do |execution| %>
          <dt class="col-sm-3 col-md-2 col-lg-3 col-xl-2">
            <%= execution_status execution.status %>
          </dt>
          <dd class="col-sm-9 col-md-10 col-lg-9 col-xl-10">
            <%= link_to_execution execution %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>

<% if @script.libraries.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Library.model_name.human count: @script.libraries.size %>
      </h5>
    </div>
    <div id="libraries" class="card-body">
      <ul>
        <% @script.libraries.each do |library| %>
          <li><%= library.print %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.maintainers.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Maintainer.model_name.human count: @script.maintainers.size %>
      </h5>
    </div>
    <div id="maintainers" class="card-body">
      <ul>
        <% @script.maintainers.each do |maintainer| %>
          <li><%= link_to maintainer.user, maintainer.user %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.requires.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Require.model_name.human count: @script.requires.size %>
      </h5>
    </div>
    <div id="requires" class="card-body">
      <ul>
        <% @script.requires.each do |require| %>
          <li><%= link_to require.script, require.script %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.tags.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Tag.model_name.human count: @script.tags.size %>
      </h5>
    </div>
    <div id="tags" class="card-body">
      <ul class="list-inline">
        <% @script.tags.each do |tag| %>
          <li class="list-inline-item">
            <span class="badge bg-<%= tag.style %>"><%= tag %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.parameters.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Parameter.model_name.human count: @script.parameters.size %>
      </h5>
    </div>
    <div id="parameters" class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Parameter.human_attribute_name 'name' %></th>
              <th><%= Parameter.human_attribute_name 'value' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @script.parameters.each do |parameter| %>
              <tr>
                <td><%= parameter.name %></td>
                <td><%= parameter.value %></td>
                <td><%= link_to_show_versions parameter %></td>
              </tr>
              <tr><td class="p-0 border-0" colspan="3" data-parameter-id="<%= parameter.id %>"></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @script.variables.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Variable.model_name.human count: @script.variables.size %>
      </h5>
    </div>
    <div id="variables" class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Variable.human_attribute_name 'name' %></th>
              <th><%= Variable.human_attribute_name 'value' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @script.variables.each do |variable| %>
              <tr>
                <td><%= variable.name %></td>
                <td><%= variable.value %></td>
                <td><%= link_to_show_versions variable %></td>
              </tr>
              <tr><td class="p-0 border-0" colspan="3" data-variable-id="<%= variable.id %>"></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @script.descriptions.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Description.model_name.human count: @script.descriptions.size %>
      </h5>
    </div>
    <div id="descriptions" class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Description.human_attribute_name 'name' %></th>
              <th><%= Description.human_attribute_name 'value' %></th>
              <th><%= Description.human_attribute_name 'public' %></th>
            </tr>
          </thead>
          <tbody>
            <% @script.descriptions.each do |description| %>
              <tr>
                <td><%= description.name %></td>
                <td><%= description.value %></td>
                <td><%= show_boolean_badge description.public %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @script.documents.attached? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Script.human_attribute_name :documents %>
      </h5>
    </div>
    <div id="documents" class="card-body">
      <ul>
        <% @script.documents.each do |document| %>
          <li>
            <%= link_to document.filename.to_s, rails_blob_path(document, disposition: 'attachment') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @script.can_be_edited_by? current_user %>
  <%= link_to_edit [:edit, @script] %> |
<% end %>
<%= link_to scripts_exports_create_path(id: @script), title: t('scripts.index.export'), data: { method: :post } do %>
  <%= icon 'fas', 'save' %>
<% end %> |
<%= link_to script_path(@script, format: :pdf), title: t('.download_pdf') do %>
  <%= icon 'fas', 'file-pdf' %>
<% end %> |
<%= link_to script_versions_path(@script), title: t('.history') do %>
  <%= icon 'fas', 'history' %>
<% end %> |
<%= link_to script_measures_path(@script, type: 'execution'), title: t('.measures_list') do %>
  <%= icon 'fas', 'tachometer-alt' %>
<% end %> |
<%= link_to [@script, :tickets], title: t('.tickets_list') do %>
  <%= icon 'fas', 'bug' %>
<% end %> |
<%= link_to t('.executions_list'), script_executions_path(@script) %> |
<%= link_to_index scripts_path %>
