<div class="card mb-3">
  <div class="card-header">
    <a class="dropdown-toggle text-reset" href="#filters" data-toggle="collapse">
      <%= icon 'fas', 'search' %>
      <%= t 'filters.title' %>
    </a>

    <% if filters? %>
      <p class="text-warning mb-0 float-right">
        <%= icon 'fas', 'filter' %>
        <%= link_to issue_index_path, title: t('cancel') do %>
          <%= icon 'fas', 'times-circle' %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div id="filters" class="card-body collapse">
    <%= simple_form_for :filter, method: :get do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-lg-4">
            <%= f.input :description,
              required: false,
              input_html: {
                value:     filter_params[:description],
                class:     'form-control-sm',
                autofocus: true
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :created_at, as: :date_picker, required: false,
              input_html: {
                value: filter_params[:created_at],
                class: 'form-control-sm',
                data:  { date_range: true }
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :status, required: false,
              collection: filter_status,
              include_blank: '-',
              selected: filter_params[:status],
              input_html: {
                class: 'form-control-sm'
              }
            %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <%= f.input :user,
              required: false, as: :autocomplete, url: users_path,
              hidden_input_html: {
                value: filter_params[:user_id]
              },
              input_html: {
                value: filter_params[:user],
                class: 'form-control-sm',
                data:  { empty_result_label: t('filters.users.empty') }
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :tags,
              required: false, as: :autocomplete, url: tags_path(kind: 'issue'),
              input_html: {
                value: filter_params[:tags],
                class: 'form-control-sm',
                data:  { empty_result_label: t('filters.tags.empty') }
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :comment,
              required: false,
              input_html: {
                value: filter_params[:comment],
                class: 'form-control-sm'
              }
            %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <%= f.input :data,
              required: false,
              input_html: {
                value: filter_params[:data],
                class: 'form-control-sm'
              }
            %>
          </div>
          <div class="col-lg-4">
            <% if current_user.author? || current_user.supervisor? %>
              <%= f.input :show,
                required: false,
                collection: owner_options,
                selected: filter_params[:show],
                include_blank: false,
                input_html: {
                  class: 'form-control-sm'
                }
              %>
            <% end %>
          </div>
          <div class="col-lg-4 pt-3">
            <div class="form-actions">
              <p class="text-right mb-0">
                <%= f.button :submit, t('filters.submit'), class: 'btn-sm btn-secondary' %>
                <%= link_to t('cancel'), issue_index_path, class: 'small' %>
              </p>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
