<%= simple_form_for @issue do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status, collection: status, prompt: false, hint: false, input_html: {
      autofocus: true, disabled: limited_issue_form_edition?
    } %>
    <%= f.input :description, hint: false, input_html: { rows: 4, readonly: limited_issue_form_edition? } %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="card mb-3">
      <div class="card-header">
        <span class="badge badge-pill badge-light float-right">
          <%= @issue.subscriptions.count %>
        </span>
        <a class="text-reset text-decoration-none d-block" href="#subscriptions" data-toggle="collapse">
          <%= User.model_name.human count: 0 %>
        </a>
      </div>
      <div id="subscriptions" class="collapse card-body">
        <%= f.simple_fields_for :subscriptions, subscriptions do |df| %>
          <%= render 'subscriptions/subscription', f: df %>
        <% end %>

        <%= link_to_add_fields t('issues.new.subscription'), f, :subscriptions unless limited_issue_form_edition? %>
      </div>
    </div>

    <div class="card mb-3<%= ' border-danger' if @issue.errors[:tags].present? %>">
      <div class="card-header">
        <span class="badge badge-pill badge-light float-right">
          <%= @issue.taggings.count %>
        </span>
        <a class="text-reset text-decoration-none d-block" href="#tags" data-toggle="collapse">
          <%= Tag.model_name.human count: 0 %>
        </a>
      </div>
      <div id="tags" class="collapse card-body">
        <% @issue.errors.full_messages_for(:tags).each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>

        <%= f.simple_fields_for :taggings, issue_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf, kind: 'issue' %>
        <% end %>

        <%= link_to_add_fields t('issues.new.tagging'), f, :taggings, kind: 'issue' unless limited_issue_form_edition? %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <%= Comment.model_name.human count: 0 %>
      </div>
      <div id="comments" class="card-body">
        <% @issue.comments.reject(&:new_record?).each do |comment| %>
          <blockquote class="blockquote ml-3">
            <%= simple_format comment.text, class: 'mb-0' %>
            <footer class="blockquote-footer"><%= comment.user %></footer>
          </blockquote>
        <% end %>

        <%= f.simple_fields_for :comments, comments do |cf| %>
          <%= render 'comments/comment', f: cf %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= hidden_field_tag :context, @context %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
