<%= simple_form_for @issue, url: [@issue, filter: filter_params.to_h] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, autofocus: true if @issue.new_record? %>
    <%= f.input :status, collection: status, prompt: false, hint: false, input_html: {
      autofocus: true, disabled: !can_edit_status?
    } if @issue.persisted? %>
    <%= f.input :description, hint: false, input_html: { rows: 4, readonly: limited_issue_form_edition? } %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="card mb-3">
      <div class="card-header">
        <span class="badge rounded-pill badge-primary-lighten float-end">
          <%= @issue.subscriptions.count %>
        </span>
        <a class="text-reset text-decoration-none d-block" href="#subscriptions" data-bs-toggle="collapse">
          <%= User.model_name.human count: 0 %>
        </a>
      </div>
      <div id="subscriptions" class="collapse card-body">
        <%= f.simple_fields_for :subscriptions, subscriptions do |df| %>
          <%= render 'subscriptions/subscription', f: df %>
        <% end %>

        <%= link_to_add_fields t('issues.new.subscription'), f, :subscriptions unless limited_issue_form_edition? %>
      </div>
    </div>

    <div class="card mb-3<%= ' border border-danger' if @issue.errors[:tags].present? %>">
      <div class="card-header">
        <span class="badge rounded-pill badge-primary-lighten float-end">
          <%= @issue.taggings.count %>
        </span>
        <a class="text-reset text-decoration-none d-block" href="#tags" data-bs-toggle="collapse">
          <%= Tag.model_name.human count: 0 %>
        </a>
      </div>
      <div id="tags" class="collapse card-body">
        <% @issue.errors.full_messages_for(:tags).each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>

        <%= f.simple_fields_for :taggings, issue_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf, **issue_tagging_options(@issue) %>
        <% end %>

        <% if @issue.can_be_light_edited_by? current_user %>
          <%= link_to_add_fields t('issues.new.tagging'), f, :taggings, **issue_tagging_options(@issue) %>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <%= Comment.model_name.human count: 0 %>
      </div>
      <div id="comments" class="card-body">
        <% @issue.comments.reject(&:new_record?).each do |comment| %>
          <div class="row">
            <div class="col-lg-10 col-md-9">
              <blockquote class="blockquote ml-3">
                <%= simple_format comment.text, class: 'mb-0' %>
              </blockquote>
              <footer class="blockquote-footer"><%= comment.user %>, <%= l comment.created_at, format: :compact %></footer>
            </div>
            <div class="col-lg-2 col-md-3">
              <% if comment.attachment.attached? %>
                <p class="mb-3">
                  <strong><%= Comment.human_attribute_name 'attachment' %></strong>:
                  <%= link_to t('messages.download'), rails_blob_path(comment.attachment, disposition: 'attachment') %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>

        <% @issue.errors.full_messages_for(:comments).each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>

        <%= f.simple_fields_for :comments, comments do |cf| %>
          <%= render 'issues/comments/comment', f: cf %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= hidden_field_tag :context, @context %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
