<%= simple_form_for @issue do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status, collection: status, prompt: false, input_html: { autofocus: true, disabled: limited_issue_form_edition? } %>
    <%= f.input :description, input_html: { rows: 4, readonly: limited_issue_form_edition? } %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#subscriptions" data-toggle="collapse">
            <%= User.model_name.human count: 0 %>
          </a>
          <span class="badge badge-default pull-right">
            <%= @issue.subscriptions.count %>
          </span>
        </h3>
      </div>
      <div id="subscriptions" class="collapse panel-body">
        <%= f.simple_fields_for :subscriptions, subscriptions do |df| %>
          <%= render 'subscriptions/subscription', f: df %>
        <% end %>

        <%= link_to_add_fields t('issues.new.subscription'), f, :subscriptions unless limited_issue_form_edition? %>
      </div>
    </div>

    <div class="panel <%= @issue.errors[:tags].blank? ? 'panel-default' : 'panel-danger' %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#tags" data-toggle="collapse">
            <%= Tag.model_name.human count: 0 %>
          </a>
          <span class="badge badge-default pull-right">
            <%= @issue.taggings.count %>
          </span>
        </h3>
      </div>
      <div id="tags" class="collapse panel-body">
        <% @issue.errors.full_messages_for(:tags).each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>

        <%= f.simple_fields_for :taggings, issue_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf, kind: 'issue' %>
        <% end %>

        <%= link_to_add_fields t('issues.new.tagging'), f, :taggings, kind: 'issue' unless limited_issue_form_edition? %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Comment.model_name.human count: 0 %>
        </h3>
      </div>
      <div id="comments" class="panel-body">
        <% @issue.comments.reject(&:new_record?).each do |comment| %>
          <blockquote>
            <%= simple_format comment.text %>
            <footer><%= comment.user %></footer>
          </blockquote>
        <% end %>

        <%= f.simple_fields_for :comments, comments do |cf| %>
          <%= render 'comments/comment', f: cf %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
