<tr data-issue="<%= issue.id %>">
  <td class="d-none d-md-table-cell"><%= l issue.run.scheduled_at, format: :compact %></td>
  <td class="d-none d-sm-table-cell"><%= l issue.created_at, format: :compact %></td>
  <td><%= truncate issue.description, length: 50 %></td>
  <td class="d-none d-sm-table-cell"><%= issue_status issue %></td>
  <td class="d-none d-lg-table-cell"><%= tag_icons issue.tags %></td>
  <td class="text-end"><%= link_to_show [issue, filter: filter_params.to_h] %></td>
  <% if current_user.can?(:edit, Issue) %>
    <td class="text-end"><%= link_to_edit [:edit, issue, filter: filter_params.to_h] %></td>
    <% unless current_user.owner? %>
      <td class="text-end"><%= is_in_board?(issue) ? link_to_remove_from_board(issue) : link_to_add_to_board(issue) %></td>
    <% end %>
    <% if current_user.supervisor? %>
      <td class="text-end"><%= link_to_destroy [issue, filter: filter_params.to_h] %></td>
    <% end %>
  <% end %>
</tr>
