<%# if no data given (called like this from board actions) %>
<% data = data ? data : convert_issues([issue]).first.last %>

<tr data-issue="<%= issue.id %>">

  <% data.to_a[0...-1].each do |_header, value| %>
    <td>
      <% if value.kind_of?(Hash) || value.kind_of?(Array) %>

        <% if value.kind_of?(Hash) && value.keys.count == 3 &&
          value.keys.include?("url") && value.keys.include?("label") &&
          value.keys.include?("data") %>

          <% permalink = Permalink.find value["url"] %>
          <%= link_to value["label"], permalink %>

        <% else %>

          <a role="button" data-toggle="popover" data-placement="top" data-html="true"
            data-content="
              <% if value.kind_of? Hash %>
                <ul>
                  <% value.each do |key, val| %>
                    <li><b><%= key %>:</b> <%= val %> </li>
                  <% end %>
                </ul>
              <% else %>
                <ul>
                  <% value.each do |val| %>
                    <li><%= val %></li>
                  <% end %>
                </ul>
              <% end %>
            ">
            <i class="fas fa-search"></i>
          </a>

        <% end %>

      <% else %>
        <%= value %>
      <% end %>
    </td>
  <% end %>

  <td class="d-none d-sm-table-cell"><%= issue_status issue %></td>
  <td class="d-none d-lg-table-cell"><%= tag_icons issue.tags.reject(&:final?) %></td>
  <td class="d-none d-lg-table-cell"><%= tag_icons issue.tags.select(&:final?) %></td>

  <td><%= data.to_a.last.last %></td>

  <td class="text-right"><%= link_to_show [issue, filter: filter_params.to_h] %></td>
  <% if current_user.can_edit_issues? %>
    <td class="text-right"><%= link_to_edit [:edit, issue, filter: filter_params.to_h] %></td>
    <% unless current_user.owner? %>
      <td class="text-right">
        <%=
          if is_in_board? issue
            link_to_remove_from_board issue, url_params: { partial: 'alt' }
          else
            link_to_add_to_board issue, url_params: { partial: 'alt' }
          end
        %>
      </td>
    <% end %>
    <% if current_user.supervisor? %>
      <td class="text-right"><%= link_to_destroy [issue, filter: filter_params.to_h] %></td>
    <% end %>
  <% end %>
</tr>
