<tr data-issue="<%= issue.id %>">
  <td><%= l issue.run.scheduled_at, format: :compact %></td>
  <td><%= l issue.created_at, format: :compact %></td>
  <td><%= truncate issue.description, length: 50 %></td>
  <td><%= issue_status issue.status %></td>
  <td class="hidden-sm"><%= tags issue.tags %></td>
  <td><%= link_to_show issue %></td>
  <td><%= link_to_edit [:edit, issue] %></td>
  <% if !current_user.guest? && !current_user.security? %>
    <td><%= is_in_board?(issue) ? link_to_remove_from_board(issue) : link_to_add_to_board(issue) %></td>
    <td><%= link_to_destroy issue %></td>
  <% end %>
</tr>
