<%= render 'filters' %>

<% if @issues.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <table class="table table-striped table-hover">
    <% if @script %>
      <caption>
        <h4>
          <%= @script %>
          <small class="pull-right">
            <%= link_to t('back'), dashboard_path %>
          </small>
        </h4>
      </caption>
    <% end %>
    <thead>
      <tr>
        <th><%= Run.human_attribute_name 'scheduled_at' %></th>
        <th><%= Issue.human_attribute_name 'created_at' %></th>
        <th><%= Issue.human_attribute_name 'description' %></th>
        <th><%= Issue.human_attribute_name 'status' %></th>
        <th class="text-right" colspan="<%= current_user.guest? ? 2 : 4 %>">
          <% if @script %>
            <div class="btn-group" role="group">
              <%= link_to_add_all_to_board %>
              <%= link_to_remove_all_from_board %>
            </div>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render @issues %>
    </tbody>
  </table>

  <%= paginate @issues %>
<% end %>
