<% if @issues.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Issue.human_attribute_name 'run' %></th>
        <th><%= Issue.human_attribute_name 'status' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.run %></td>
          <td><%= issue_status issue.status %></td>
          <td><%= link_to_show issue %></td>
          <td><%= link_to_edit [:edit, issue] %></td>
          <td><%= link_to_destroy issue %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @issues %>
<% end %>
