<h2>
  <%= @issue %>
  <small class="pull-right">
    <%= issue_status @issue.status %>
  </small>
</h2>

<p>
  <strong><%= Issue.human_attribute_name 'description' %></strong>:
  <%= @issue.description %>
</p>

<p>
  <strong><%= Issue.human_attribute_name 'run' %></strong>:
  <%= link_to_unless current_user.guest? || current_user.security?, @issue.run, @issue.run %>
</p>

<% if @issue.data.present? %>
  <p>
    <strong><%= Issue.human_attribute_name 'data' %></strong>
    <%= link_to_export_data %>
  </p>

  <%= render_object @issue, '' %>
<% end %>

<ul class="list-inline" data-tagging-list>
  <% @issue.taggings.each do |tagging| %>
    <%= render template: 'taggings/show', locals: { tagging: tagging } %>
  <% end %>
</ul>

<% if @issue.can_be_light_edited_by? current_user %>
  <div data-tagging-new>
    <p>
      <%= link_to t('taggings.new.title'), new_issue_tagging_path(@issue), class: 'btn btn-default btn-xs', data: { remote: true } %>
    </p>
  </div>
<% end %>

<% if @issue.subscriptions.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= User.model_name.human count: @issue.subscriptions.size %>
      </h3>
    </div>
    <div id="subscriptions" class="panel-body">
      <ul>
        <% @issue.subscriptions.each do |subscription| %>
          <li><%= link_to_unless current_user.guest? || current_user.security?, subscription.user, subscription.user %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= Comment.model_name.human count: 0 %>
    </h3>
  </div>
  <div id="comments" class="panel-body">
    <% @issue.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>

    <%= render template: 'comments/new', locals: { :@comment => @issue.comments.new } %>
  </div>
</div>

<% if @permalink.blank? && (current_user.author? || current_user.supervisor?) %>
  <%= link_to_edit [:edit, @issue, context: @context] %> |
<% end %>
<%= link_to_index issue_index_path %>
