<h2>
  <%= @issue %>
  <small class="pull-right">
    <%= issue_status @issue.status %>
  </small>
</h2>

<p>
  <strong><%= Issue.human_attribute_name 'description' %></strong>:
  <%= @issue.description %>
</p>

<p>
  <strong><%= Issue.human_attribute_name 'run' %></strong>:
  <%= link_to_unless current_user.guest?, @issue.run, @issue.run %>
</p>

<% if @issue.data.present? %>
  <p>
    <strong><%= Issue.human_attribute_name 'data' %></strong>
  </p>

  <%= render_object @issue, '' %>
<% end %>

<% if @issue.subscriptions.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= User.model_name.human count: @issue.subscriptions.size %>
      </h3>
    </div>
    <div id="subscriptions" class="panel-body">
      <ul>
        <% @issue.subscriptions.each do |subscription| %>
          <li><%= link_to subscription.user, subscription.user %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @issue.tags.any? %>
  <ul class="list-inline">
    <% @issue.tags.each do |tag| %>
      <li>
        <span class="label label-default"><%= tag %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @issue.comments.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Comment.model_name.human count: @issue.comments.size %>
      </h3>
    </div>
    <div id="comments" class="panel-body">
      <% @issue.comments.each do |comment| %>
      <div class="row">
        <div class="col-md-10">
          <blockquote>
            <%= simple_format comment.text %>
            <footer><%= comment.user %></footer>
          </blockquote>
        </div>
        <div class="col-md-2">
          <% if comment.file.present? %>
            <p>
              <strong><%= Comment.human_attribute_name 'file' %></strong>:
              <%= link_to t('messages.download'), comment.file.url %>
            </p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @issue] %> |
<%= link_to_index issue_index_path %>
