<div class="card">
  <div class="card-header">
    <h5>
      <%= @survey_answer.survey.issue %>
      <span class="float-right" data-status>
        <%= issue_status @survey_answer.survey.issue %>
      </span>
    </h5>
  </div>

  <div class="card-body">
    <%= simple_form_for @survey_answer, url: issue_create_survey_answer_path do |survey_answer_form| %>
      <%= survey_answer_form.error_notification %>
      <%= survey_answer_form.simple_fields_for :answers, @survey_answer.answers do |answer_form| %>
        <%= render "issues/answers/#{answer_form.object.partial}", f: answer_form %>
      <% end %>
      <%= survey_answer_form.submit class: 'btn btn-sm btn-secondary' %>
      <%= survey_answer_form.hidden_field :survey_id, value: @survey_answer.survey.id %>
    <% end %>
  </div>
</div>

<%= link_to t('back'), issue_path(@survey_answer.survey.issue) %>
