<%= simple_form_for [@dashboard, @panel].compact, html: { data: { remote: request.xhr? } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { autofocus: true } %>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <p class="mb-0">
      <%= f.button :submit, class: 'btn-sm btn-primary' %>
      <%= link_to t('cancel'), panel_path(@panel.id || 'nil'), class: 'small', data: { remote: request.xhr? } %>
    </p>
  </div>
<% end %>
