<%= simple_form_for [@dashboard, @panel] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :title, input_html: { autofocus: true } %>
      </div>
      <div class="col">
        <%= f.input :width %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :function, collection: panel_functions, prompt: true %>
      </div>
      <div class="col">
        <%= f.input :output_type, collection: panel_output_types, prompt: true %>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <p class="mb-0">
      <%= f.button :submit, class: 'btn-primary' %>
      <%= link_to t('cancel'), @dashboard, class: 'small' %>
    </p>
  </div>
<% end %>
