<div class="<%= panel_col_class panel %>">
  <div class="card controls-container <%= panel_highlight panel %> <%= panel_height panel %>">
    <div class="card-header">
      <span class="row-controls float-right">
        <%= link_to_edit [:edit, @dashboard, panel] %> |
        <%= link_to_destroy [@dashboard, panel] %>
      </span>

      <p class="mb-0"><%= panel %></p>
    </div>

    <div class="card-body">
      <%= graph_container panel.generate_data.sort.to_h, type: panel.output_type, class: 'ct-chart h-100' %>
    </div>
  </div>
</div>
