<div class="<%= panel_col_class panel %>">
  <div class="card controls-container <%= panel_highlight panel %> <%= panel_height panel %>">
    <div class="card-header">
      <span class="row-controls float-right">
        <%= link_to_edit [:edit, @dashboard, panel] %> |
        <%= link_to_destroy [@dashboard, panel] %>
      </span>

      <p class="mb-0"><%= panel %></p>
    </div>

    <div class="card-body">
      <%= draw_graph panel %>
    </div>
  </div>
</div>
