<% if @script.parameters.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <%= Parameter.model_name.human count: @script.parameters.size %>
      </h5>
    </div>
    <div id="parameters" class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Parameter.human_attribute_name 'name' %></th>
              <th><%= Parameter.human_attribute_name 'value' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @script.parameters.each do |parameter| %>
              <tr>
                <td><%= parameter.name %></td>
                <td><%= parameter.value %></td>
                <td><%= link_to_show_parameter_versions parameter %></td>
              </tr>
              <tr><td class="p-0 border-0" colspan="3" data-parameter-id="<%= parameter.id %>"></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
