<h2>Nuevo comentario</h2>

<p><strong>Guión</strong>: <%= @issue.script %></p>
<p><strong>Descripción</strong>: <%= @issue.description %></p>

<h3>Comentario</h3>
<blockquote>
  <%= simple_format @comment.text %>
  <footer><%= @comment.user %></footer>
</blockquote>

<p>
  <% if @issue.ticket? %>
    <%= link_to 'Ver contexto', account_ticket_url(current_account, @issue) %>
  <% else %>
    <%= link_to 'Ver contexto', account_issue_url(current_account, @issue) %>
  <% end %>
</p>
