<h2>Nuevo caso</h2>

<p>Descripción: <%= @issue.description %></p>
<p>Corrida: <%= @issue.run %></p>

<% if @issue.data.present? %>
  <p>
    <strong><%= Issue.human_attribute_name 'data' %></strong>
  </p>

  <%= render_object_for_email @issue.data %>
<% end %>

<p>
  <%= link_to 'Ver caso', issue_url(@issue) %>
</p>
