<h2>Nuevo caso</h2>

<p><strong>Descripción</strong>: <%= @issue.description %></p>
<p><strong>Corrida</strong>: <%= @issue.run %></p>

<% if @issue.data.present? && !@data_as_csv %>
  <h3><%= Issue.human_attribute_name 'data' %></h3>

  <%= render_object_for_email @issue.canonical_data %>
<% end %>

<p>
  <%= link_to 'Ver caso', account_issue_url(current_account, @issue) %>
</p>
