<h2>Nuevo caso</h2>

<p><strong>Descripción</strong>: <%= @issue.description %></p>
<p><strong>Corrida</strong>: <%= @issue.run %></p>

<% if @issue.data.present? %>
  <h3><%= Issue.human_attribute_name 'data' %></h3>

  <%= render_object_for_email @issue.data %>
<% end %>

<p>
  <%= link_to 'Ver caso', issue_url(@issue) %>
</p>
