<% if @versions.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="card">
    <div class="card-header">
      <h5><%= link_to @script, @script %></h5>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= PaperTrail::Version.human_attribute_name 'whodunnit' %></th>
          <th class="d-none d-md-table-cell"><%= t '.change' %></th>
          <th><%= PaperTrail::Version.human_attribute_name 'created_at' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @versions.each do |version| %>
          <tr>
            <td><%= User.find_by id: version.whodunnit %></td>
            <td class="d-none d-md-table-cell"><%= truncate version_change_for(version) %></td>
            <td><%= l version_change_date_for(version), format: :compact %></td>
            <td class="text-end"><%= link_to_show script_version_path(@script, version) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @versions %>
<% end %>
