<% if @descriptors.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Descriptor.human_attribute_name 'name' %></th>
          <th><%= Descriptor.human_attribute_name 'public' %></th>
          <th colspan="3">
            <%= link_to_new new_descriptor_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @descriptors.each do |descriptor| %>
          <tr>
            <td><%= descriptor.name %></td>
            <td><%= show_boolean_badge descriptor.public %></td>
            <td class="text-end"><%= link_to_show descriptor %></td>
            <td class="text-end"><%= link_to_edit [:edit, descriptor] %></td>
            <td class="text-end"><%= link_to_destroy descriptor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @descriptors %>
<% end %>

<%= link_to_new new_descriptor_path, class: 'btn btn-primary' %>
