<% if @descriptors.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Descriptor.human_attribute_name 'name' %></th>
        <th colspan="3">
          <%= link_to_new new_descriptor_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-right' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @descriptors.each do |descriptor| %>
        <tr>
          <td><%= descriptor.name %></td>
          <td><%= link_to_show descriptor %></td>
          <td><%= link_to_edit [:edit, descriptor] %></td>
          <td><%= link_to_destroy descriptor %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_descriptor_path, class: 'btn btn-primary' %>
