<div class="card mb-3">
  <div class="card-header">
    <a class="dropdown-toggle text-reset d-block" href="#filters" data-toggle="collapse">
      <%= icon 'fas', 'search' %>
      <%= t 'filters.title' %>
    </a>

    <% if filters? %>
      <p class="text-warning mb-0 float-right">
        <%= icon 'fas', 'filter' %>
        <%= link_to servers_path, title: t('cancel') do %>
          <%= icon 'fas', 'times-circle' %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div id="filters" class="card-body collapse">
    <%= simple_form_for :filter, method: :get do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-lg-4">
            <%= f.input :name,
              required: false,
              input_html: {
                value:     filter_params[:name],
                class:     'form-control-sm',
                autofocus: true
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :hostname,
              required: false,
              input_html: {
                value:     filter_params[:hostname],
                class:     'form-control-sm'
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :user,
              required: false,
              input_html: {
                value:     filter_params[:user],
                class:     'form-control-sm'
              }
            %>
          </div>
        </div>

        <p class="text-right mb-0">
          <%= f.button :submit, t('filters.submit'), class: 'btn-sm btn-secondary' %>
          <%= link_to t('cancel'), servers_path, class: 'small' %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
