<%= simple_form_for @server do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :hostname %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :user %>
      </div>
      <div class="col-md-6">
        <%= f.input :password %>
      </div>
    </div>

    <%= f.input :credential, input_html: { disabled: @server.password.present? } %>
    <%= f.input :default, as: :boolean, input_html: { disabled: @server.persisted? } %>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
