<%= render 'filters' %>

<% if @servers.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Server.human_attribute_name 'name' %></th>
        <th class="d-none d-sm-table-cell"><%= Server.human_attribute_name 'hostname' %></th>
        <th class="d-none d-lg-table-cell"><%= Server.human_attribute_name 'user' %></th>
        <th class="d-none d-lg-table-cell"><%= Server.human_attribute_name 'default' %></th>
        <th colspan="<%= current_user.supervisor? ? 1 : 3 %>">
          <%= link_to_new new_server_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-right' unless current_user.supervisor? %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @servers.each do |server| %>
        <tr <%== 'class="table-info"' if server.default %>>
          <td><%= server.name %></td>
          <td class="d-none d-sm-table-cell"><%= server.hostname %></td>
          <td class="d-none d-lg-table-cell"><%= server.user %></td>
          <td class="d-none d-lg-table-cell">
            <% if current_user.supervisor? %>
              <%= t server.default ? 'yes' : 'no' %>
            <% else %>
              <%= link_to_default server %>
            <% end %>
          </td>
          <td class="text-right"><%= link_to_show server %></td>
          <% unless current_user.supervisor? %>
            <td class="text-right"><%= link_to_edit [:edit, server] %></td>
            <td class="text-right"><%= link_to_destroy server %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @servers %>
<% end %>

<% unless current_user.supervisor? %>
  <%= link_to_new new_server_path, class: 'btn btn-primary' %>
<% end %>
