<h3>
  <span class="text-muted"><%= Execution.model_name.human count: 1 %> -</span>
  <%= link_to @execution.script, @execution.script %>
  <span class="pull-right">
    <%= execution_status @execution.status %>
  </span>
</h3>


<p>
  <strong><%= Execution.human_attribute_name 'server_id' %></strong>:
  <%= @execution.server %>
</p>

<p>
  <strong><%= Execution.human_attribute_name 'started_at' %></strong>:
  <%= l @execution.started_at, format: :compact if @execution.started_at %>
</p>
<p>
  <strong><%= Execution.human_attribute_name 'ended_at' %></strong>:
  <%= l @execution.ended_at, format: :compact if @execution.ended_at %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= Run.human_attribute_name 'output' %>
    </h3>
  </div>
  <div class="panel-body">
    <% if @execution.pending? || @execution.running? %>
      <pre data-actioncable-watch-execution="<%= @execution.id %>">
      </pre>
    <% else %>
      <pre>
        <%= @execution.output %>
      </pre>
    <% end %>
  </div>
</div>

<% # error panel %>
