<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="form-inputs">
      <%= f.input :name, input_html: { autofocus: true, disabled: ldap } %>
      <%= f.input :lastname, input_html: { disabled: ldap } %>
      <%= f.input :email, input_html: { disabled: ldap } %>
      <%= f.input :username, input_html: { disabled: ldap } %>
      <% unless ldap %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      <% end %>
      <%= f.input :role, collection: roles, prompt: true, label: roles_label, input_html: { disabled: ldap } %>
      <%= f.input :lock_version, as: :hidden %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#tags" data-toggle="collapse">
              <%= Tag.model_name.human count: 0 %>
            </a>
          </h3>
        </div>
        <div id="tags" class="collapse panel-body">
          <%= f.simple_fields_for :taggings, user_taggings do |tf| %>
            <%= render 'taggings/tagging', f: tf, kind: 'user' %>
          <% end %>

          <%= link_to_add_fields t('users.new.tagging'), f, :taggings, kind: 'user' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </fieldset>
<% end %>

<%= render 'role_help' %>
