<%= render 'filters' %>

<% if @users.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= User.human_attribute_name 'name' %></th>
        <th><%= User.human_attribute_name 'lastname' %></th>
        <th><%= User.human_attribute_name 'email' %></th>
        <th class="hidden-sm"><%= Tag.model_name.human count: 0 %></th>
        <th colspan="<%= user_actions_columns %>"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.lastname %></td>
          <td><%= mail_to user.email %></td>
          <td class="hidden-sm"><%= tags user.tags %></td>
          <td><%= link_to_show user %></td>
          <% unless current_user.author? %>
            <td><%= link_to_edit [:edit, user] %></td>
            <% unless ldap %>
              <td><%= link_to_destroy user %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% end %>

<% if ldap %>
  <%= link_to t('.ldap_import'), new_users_import_path, class: 'btn btn-primary' %>
<% elsif !current_user.author? %>
  <%= link_to_new new_user_path, class: 'btn btn-primary' %>
<% end %>
