<h1><%= @user %></h1>

<p class="mb-1">
  <%= mail_to @user.email %>
</p>

<p class="mb-1">
  <strong><%= roles_label %></strong>:
  <%= t "users.roles.#{@user.role}" %>
</p>

<% if @user.tags.any? %>
  <ul class="list-inline">
    <% @user.tags.each do |tag| %>
      <li class="list-inline-item">
        <span class="badge badge-<%= tag.style %>"><%= tag %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<% unless current_user.author? %>
  <%= link_to_edit [:edit, @user] %> |
<% end %>
<%= link_to_index users_path %>

<%= render 'role_help' %>
