<div class="card">
  <div class="card-header">
    <h3><%= @user %></h3>
  </div>

  <div class="card-body">
    <p class="mb-1">
      <strong><%= User.human_attribute_name :email %></strong>:
      <%= mail_to @user.email %>
    </p>
    <p class="mb-1">
      <strong><%= User.human_attribute_name :username %></strong>:
      <%= @user.username %>
    </p>
    <p class="mb-1">
      <strong><%= User.human_attribute_name :role %></strong>:
      <%= t_role_type @user.role.type %>
    </p>

    <% if @user.tags.any? %>
      <ul class="list-inline">
        <% @user.tags.each do |tag| %>
          <li class="list-inline-item">
            <span class="badge bg-<%= tag.style %>"><%= tag %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% unless current_user.author? %>
  <%= link_to_edit [:edit, @user] %> |
<% end %>
<%= link_to_index users_path %>
