<%= simple_form_for @schedule do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true } %>
    <div class="row">
      <div class="col-md-6 date-picker">
        <%= f.input :start, as: :date_picker %>
      </div>
      <div class="col-md-6 date-picker">
        <%= f.input :end, as: :date_picker %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :interval %>
      </div>
      <div class="col-md-6">
        <%= f.input :frequency, collection: frequencies, prompt: false %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= Job.model_name.human count: 0 %>
        </h3>
      </div>
      <div id="jobs" class="panel-body">
        <%= f.simple_fields_for :jobs, jobs do |rf| %>
          <%= render 'jobs/job', f: rf %>
        <% end %>

        <%= link_to_add_fields t('schedules.new.job'), f, :jobs %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#tags" data-toggle="collapse">
            <%= Tag.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="tags" class="collapse panel-body">
        <%= f.simple_fields_for :taggings, schedule_taggings do |tf| %>
          <%= render 'taggings/tagging', f: tf, kind: 'script' %>
        <% end %>

        <%= link_to_add_fields t('schedules.new.tagging'), f, :taggings, kind: 'script' %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#dependencies" data-toggle="collapse">
            <%= Dependency.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="dependencies" class="collapse panel-body">
        <%= f.simple_fields_for :dependencies, dependencies do |df| %>
          <%= render 'dependencies/dependency', f: df %>
        <% end %>

        <%= link_to_add_fields t('schedules.new.dependency'), f, :dependencies %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#dispatchers" data-toggle="collapse">
            <%= Rule.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="dispatchers" class="collapse panel-body">
        <%= f.simple_fields_for :dispatchers, dispatchers do |rf| %>
          <%= render 'dispatchers/dispatcher', f: rf %>
        <% end %>

        <%= link_to_add_fields t('schedules.new.dispatcher'), f, :dispatchers %>
      </div>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
