<h2><%= @schedule %></h2>

<p>
  <strong><%= Schedule.human_attribute_name 'start' %></strong>:
  <%= l @schedule.start, format: :short %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'end' %></strong>:
  <%= l @schedule.end, format: :short if @schedule.end %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'interval' %></strong>:
  <%= @schedule.interval %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'frequency' %></strong>:
  <%= t "schedules.frequencies.#{@schedule.frequency}" if @schedule.frequency %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'script' %></strong>:
  <%= link_to @schedule.script, @schedule.script %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'server' %></strong>:
  <%= link_to @schedule.server, @schedule.server %>
</p>

<% if @schedule.dependencies.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Dependency.model_name.human count: @schedule.dependencies.size %>
      </h3>
    </div>
    <div id="dependencies" class="panel-body">
      <ul>
        <% @schedule.dependencies.each do |dependency| %>
          <li><%= link_to dependency.schedule, dependency.schedule %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @schedule.runs.any? %>
  <p>
    <%= link_to Run.model_name.human(count: @schedule.runs.count), schedule_runs_path(@schedule) %>
  </p>
<% else %>
  <p class="text-muted"><%= t '.empty_runs' %></p>
<% end %>

<%= link_to_edit [:edit, @schedule] %> |
<%= link_to_index schedules_path %>
