<div class="card">
  <div class="card-header">
    <h3 class="clearfix">
      <%= @schedule %>
      <div class="float-end">
        <%= link_to_run do %>
          <%= icon 'fas', 'play' %>
          <%= t '.run' %>
        <% end %>
      </div>
    </h3>
  </div>

  <div class="card-body">
    <p class="mb-1">
      <strong><%= Schedule.human_attribute_name 'start' %></strong>:
      <%= l @schedule.start, format: :compact %>
    </p>
    <p class="mb-1">
      <strong><%= Schedule.human_attribute_name 'end' %></strong>:
      <%= l @schedule.end, format: :compact if @schedule.end %>
    </p>
    <p class="mb-1">
      <strong><%= Schedule.human_attribute_name 'interval' %></strong>:
      <%= @schedule.interval %>
    </p>
    <p class="mb-1">
      <strong><%= Schedule.human_attribute_name 'frequency' %></strong>:
      <%= t "schedules.frequencies.#{@schedule.frequency}" if @schedule.frequency %>
    </p>
  </div>
</div>

<% if @schedule.jobs.any? %>
  <div class="card my-3">
    <div class="card-header">
      <h5>
        <%= Job.model_name.human count: @schedule.jobs.size %>
      </h5>
    </div>
    <div id="jobs">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Job.human_attribute_name 'server' %></th>
            <th><%= Job.human_attribute_name 'script' %></th>
          </tr>
        </thead>
        <tbody>
          <% @schedule.jobs.each do |job| %>
            <tr>
              <td><%= job.server %></td>
              <td><%= link_to job.script %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @schedule.dependencies.any? %>
  <div class="card my-3">
    <div class="card-header">
      <h5>
        <%= Dependency.model_name.human count: @schedule.dependencies.size %>
      </h5>
    </div>
    <div id="dependencies" class="card-body">
      <ul>
        <% @schedule.dependencies.each do |dependency| %>
          <li><%= link_to dependency.schedule, dependency.schedule %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @schedule.dispatchers.any? %>
  <div class="card my-3">
    <div class="card-header">
      <h5>
        <%= Rule.model_name.human count: @schedule.dispatchers.size %>
      </h5>
    </div>
    <div id="dispatchers" class="card-body">
      <ul>
        <% @schedule.dispatchers.each do |dispatcher| %>
          <li>
            <%= link_to_if current_user.supervisor?, dispatcher.rule, dispatcher.rule, class: ('text-striked' unless dispatcher.rule.enabled) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% unless current_user.author? %>
  <%= link_to_runs @schedule %> |
  <%= link_to_edit [:edit, @schedule] %> |
  <%= link_to_cleanup @schedule %> |
<% end %>
<%= link_to_index schedules_path %>
