<h2>
  <%= @schedule %>
  <div class="pull-right">
    <%= link_to_run do %>
      <span class="glyphicon glyphicon-play"></span>
      <%= t '.run' %>
    <% end %>
  </div>
</h2>

<p>
  <strong><%= Schedule.human_attribute_name 'start' %></strong>:
  <%= l @schedule.start, format: :short %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'end' %></strong>:
  <%= l @schedule.end, format: :short if @schedule.end %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'interval' %></strong>:
  <%= @schedule.interval %>
</p>
<p>
  <strong><%= Schedule.human_attribute_name 'frequency' %></strong>:
  <%= t "schedules.frequencies.#{@schedule.frequency}" if @schedule.frequency %>
</p>

<% if @schedule.jobs.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Job.model_name.human count: @schedule.jobs.size %>
      </h3>
    </div>
    <div id="jobs" class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Job.human_attribute_name 'server' %></th>
            <th><%= Job.human_attribute_name 'script' %></th>
          </tr>
        </thead>
        <tbody>
          <% @schedule.jobs.each do |job| %>
            <tr>
              <td><%= job.server %></td>
              <td><%= job.script %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @schedule.dependencies.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Dependency.model_name.human count: @schedule.dependencies.size %>
      </h3>
    </div>
    <div id="dependencies" class="panel-body">
      <ul>
        <% @schedule.dependencies.each do |dependency| %>
          <li><%= link_to dependency.schedule, dependency.schedule %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @schedule.dispatchers.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Rule.model_name.human count: @schedule.dispatchers.size %>
      </h3>
    </div>
    <div id="dispatchers" class="panel-body">
      <ul>
        <% @schedule.dispatchers.each do |dispatcher| %>
          <li>
            <%= link_to dispatcher.rule, dispatcher.rule, class: ('text-striked' unless dispatcher.rule.enabled) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @schedule.runs.any? %>
  <p>
    <%= link_to Run.model_name.human(count: @schedule.runs.count), schedule_runs_path(@schedule) %>
  </p>
<% else %>
  <p class="text-muted"><%= t '.empty_runs' %></p>
<% end %>

<%= link_to_edit [:edit, @schedule] %> |
<%= link_to_cleanup @schedule %> |
<%= link_to_index schedules_path %>
