<div class="<%= is_config_action? ? 'collapsed' : 'collapse' %>" id="config-actions">
  <ul class="side-nav-second-level" aria-expanded="false">
    <%= left_menu_item_for User, users_path %>
    <%= left_menu_item_for Record, records_path(kind: 'login') %>
    <%= left_menu_item_for Tag, tags_path(kind: 'script') %>
    <%= left_menu_item_for Descriptor, descriptors_path %>
    <%= left_menu_item_for Account, accounts_path if current_account.default? %>
    <%= left_menu_item_for Server, servers_path %>
    <%= left_menu_item_for Database, databases_path %>
    <%= left_menu_item_for Ldap, ldaps_path %>
    <%= left_menu_item_for Saml, samls_path %>
    <%= left_menu_item_for Drive, drives_path %>
    <%= left_menu_item_for PdfTemplate, pdf_templates_path %>
    <%= left_menu_item_for Console, console_path if ENABLE_WEB_CONSOLE %>
    <%= left_menu_item_for SystemMonitor, system_monitors_path %>
  </ul>
</div>
