<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <%= menu_item_for User, users_path %>

      <% unless current_user.author? %>
        <% unless current_user.security? %>
          <%= menu_item_for Tag, tags_path(kind: 'script') %>
          <%= menu_item_for Descriptor, descriptors_path %>
        <% end %>

        <%= menu_item_for Account, accounts_path if current_account.default? %>
        <%= menu_item_for Server, servers_path %>
        <%= menu_item_for Database, databases_path %>
        <%= menu_item_for Ldap, ldaps_path %>
      <% end %>

      <% if current_user.supervisor? && ENABLE_WEB_CONSOLE %>
        <li <%== 'class="active"' if controller_name == 'console' %>>
          <%= link_to t('console.show.title'), console_path %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
