<div class="leftside-menu offcanvas-md offcanvas-start pt-0 overflow-auto" id="left-menu">
  <div class="offcanvas-body">
    <%= link_to root_url, class: 'logo text-center text-white', title: logo_title do %>
      <span class="logo-lg">
        <%= image_tag 'logo.svg', size: '138x35', alt: app_name %>
      </span>
      <span class="logo-sm">
        <%= image_tag 'logo_sm.svg', size: '52x52', alt: app_name %>
      </span>
    <% end %>

    <ul class="side-nav mt-3">
      <%= menu_item_for Issue, home_path, icon: 'clipboard-list', active: show_issues_as_active? %>
      <%= menu_item_for Ticket, tickets_path, icon: 'bug', active: controller_name == 'tickets' || @issue&.ticket? %>
      <%= menu_item_for Script, scripts_path, icon: 'code' %>
      <%= menu_item_for Schedule, schedules_path, active: controller_name == 'runs', icon: 'calendar' %>
      <%= menu_item_for Rule, rules_path, icon: 'code-branch' %>

      <li class="side-nav-item<%= ' menuitem-active' if is_config_action? %>">
        <%= link_to '#config-actions', class: 'side-nav-link', data: { bs_toggle: 'collapse' } do %>
          <%= icon 'fas', 'cog' %>
          <span class="ml-n1"><%= t('.config') %></span>
          <span class="menu-arrow"></span>
        <% end %>
        <%= render 'shared/config_actions' %>
      </li>
    </ul>
  </div>
</div>
