<header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to app_name, root_url, class: 'navbar-brand', title: current_account&.name %>
    <%= render 'shared/board_actions' %>

    <% if current_user&.visible? %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <% if current_user&.visible? %>
      <nav class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <% unless current_user.guest? %>
            <%= render 'shared/config_actions' %>
          <% end %>

          <%= menu_item_for Issue, dashboard_path, active: controller_name == 'dashboard' %>

          <% if current_user.author? || current_user.supervisor? %>
            <%= menu_item_for Script, scripts_path %>
            <%= menu_item_for Schedule, schedules_path, active: controller_name == 'runs' %>
            <%= menu_item_for Rule, rules_path unless current_user.author? %>
          <% end %>
        </ul>

        <ul class="navbar-nav">
          <%= render 'shared/user_actions' %>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
