<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>

      <%= link_to app_name, root_url, class: 'navbar-brand' %>
    </div>

    <% if current_user %>
      <nav class="collapse navbar-collapse">
        <% unless current_user.guest? %>
          <%= render 'shared/config_actions' %>
        <% end %>

        <ul class="nav navbar-nav">
          <%= menu_item_for Issue, current_user.guest? ? issues_path : dashboard_path %>
        </ul>
        <% unless current_user.guest? %>
          <ul class="nav navbar-nav">
            <%= menu_item_for Script, scripts_path %>
          </ul>
          <ul class="nav navbar-nav">
            <%= menu_item_for Server, servers_path %>
          </ul>
          <ul class="nav navbar-nav">
            <%= menu_item_for Schedule, schedules_path %>
          </ul>
          <ul class="nav navbar-nav">
            <%= menu_item_for Rule, rules_path %>
          </ul>
        <% end %>

        <%= render 'shared/user_actions' %>
        <%= render 'shared/board_actions' %>
      </nav>
    <% end %>
  </div>
</header>
