<li class="dropdown notification-list">
  <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#"
    role="button" aria-haspopup="false" aria-expanded="false">
    <span class="account-user-avatar">
      <%= icon 'fas', 'user' %>
    </span>

    <span>
      <span class="account-user-name"><%= current_user %></span>
      <span class="account-position badge <%= role_badge current_user.old_role %>"><%= t "users.roles.#{current_user.old_role}" %></span>
    </span>
  </a>

  <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
    <%= link_to_edit_profile unless ldap %>

    <%= dropdown_item_for Membership, memberships_path %>

    <div class="dropdown-divider"></div>

    <%= link_to_logout %>
  </div>
</li>
