<div class="card mb-3">
  <div class="card-header">
    <% if filters? %>
      <p class="text-warning mb-0 float-end">
        <%= icon 'fas', 'filter' %>
        <%= link_to home_path, title: t('cancel') do %>
          <%= icon 'fas', 'times-circle' %>
        <% end %>
      </p>
    <% end %>

    <a class="dropdown-toggle text-reset text-decoration-none d-block" href="#filters" data-bs-toggle="collapse">
      <%= icon 'fas', 'search' %>
      <%= t 'filters.title' %>
    </a>
  </div>
  <div id="filters" class="card-body collapse">
    <%= simple_form_for :filter, method: :get do |f| %>
      <fieldset>
        <div class="form-inputs">
          <div class="row">
            <div class="col-lg-4">
              <%= f.input :name,
                required:   false,
                input_html: {
                  value:     filter_params[:name],
                  class:     'form-control-sm',
                  autofocus: true
                }
              %>
            </div>
            <div class="col-lg-4">
              <%= f.input :description,
                required:   false,
                input_html: {
                  value: filter_params[:description],
                  class: 'form-control-sm'
                }
              %>
            </div>
            <div class="col-lg-4">
              <%= f.input :status,
                required:      false,
                collection:    filter_status,
                selected:      filter_params[:status],
                include_blank: '-',
                input_html:    { class: 'form-control-sm' }
              %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <%= f.input :user,
                required:   false,
                as:         :autocomplete,
                url:        users_path,
                input_html: {
                  value: filter_params[:user],
                  class: 'form-control-sm',
                  data:  { empty_result_label: t('filters.users.empty') }
                }
              %>
            </div>
            <div class="col-lg-4">
              <%= f.input :tags,
                required:   false,
                as:         :autocomplete,
                url:        tags_path(kind: 'issue'),
                input_html: {
                  value: filter_params[:tags],
                  class: 'form-control-sm',
                  data:  { empty_result_label: t('filters.tags.empty') }
                }
              %>
            </div>
            <div class="col-lg-4">
              <%= f.input :comment,
                required:   false,
                input_html: {
                  value: filter_params[:comment],
                  class: 'form-control-sm'
                }
              %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <%= f.input :data,
                required: false,
                input_html: {
                  value: filter_params[:data],
                  class: 'form-control-sm'
                }
              %>
            </div>
            <div class="col-lg-4">
              <% if current_user.can_use_mine_filter? %>
                <%= f.input :show,
                  required:      false,
                  include_blank: false,
                  collection:    owner_options,
                  selected:      filter_params[:show],
                  input_html:    { class: 'form-control-sm' }
                %>
              <% end %>
            </div>
            <div class="col-lg-4 mt-2">
              <div class="form-actions">
                <p class="mb-0">
                  <%= f.button :submit, t('filters.submit'), class: 'btn-sm btn-secondary' %>
                  <%= link_to t('cancel'), home_path, class: 'small' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
