<%= render 'filters' %>

<ul class="nav nav-tabs mb-2">
  <% record_kinds.each do |kind, name| %>
    <% active = kind.to_s == params[:kind] %>

    <%= content_tag :li, class: 'nav-item' do %>
      <%= link_to name, records_path(kind: kind), class: "nav-link#{' active' if active}" %>
    <% end %>
  <% end %>
</ul>

<div class="card">
  <% if @records.empty? %>
    <div class="card-body">
      <%= render 'shared/empty_index', message: t('.empty_html') %>
    </div>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <% class_records = @records.first.class %>
          <th><%= class_records.human_attribute_name 'created_at' %></th>
          <th><%= class_records.human_attribute_name 'user' %></th>
          <th><%= t '.ip' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.created_at %></td>
            <td><%= user_name_of_record record %></td>
            <td><%= record.data['remote_ip'] %></td>
            <td class="text-right"><%= link_to_show record_path(record, kind: params[:kind]) %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mx-3">
      <%= paginate @records %>
    </div>
  <% end %>
</div>


