<div class="card">
  <div class="card-body">
    <h4><%= question.title %></h4>
    <div class="row">
      <div class="card text-white bg-secondary mb-3 mr-1" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= I18n.t('issues.survey_results.drop_down_question.number_of_answers_per_option') %></h5>
          <% question.results.each do |key, value| %>
            <p class="card-text"><%= "#{key} = #{value}" %></p>
          <% end %>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3 mr-1" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= I18n.t('issues.survey_results.drop_down_question.group_by_and_sum_scores') %></h5>
          <% question.group_by_and_sum_scores.each do |key, value| %>
            <p class="card-text"><%= "#{key} = #{value}" %></p>
          <% end %>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3 mr-1" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= I18n.t('issues.survey_results.drop_down_question.number_of_answers') %></h5>
            <p class="card-text"><%= "#{question.count_answers}" %></p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3 mr-1" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= I18n.t('issues.survey_results.drop_down_question.sum_scores') %></h5>
            <p class="card-text"><%= "#{question.sum_scores}" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
