<% if @samls.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Saml.human_attribute_name 'provider' %></th>
          <th colspan="3">
            <%= link_to_new new_saml_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' unless saml %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @samls.each do |saml| %>
          <tr>
            <td><%= t saml.provider, scope: [:samls, :providers] %></td>
            <td class="text-end"><%= link_to_show saml %></td>
            <td class="text-end"><%= link_to_edit [:edit, saml] %></td>
            <td class="text-end"><%= link_to_destroy saml %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @samls %>
<% end %>

<%= link_to_new new_saml_path, class: 'btn btn-primary' if !saml %>
