<% if @samls.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Saml.human_attribute_name 'provider' %></th>
          <th colspan="<%= current_user.supervisor? ? 1 : 3 %>">
            <% if !saml && !current_user.supervisor? %>
              <%= link_to_new new_saml_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' %>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @samls.each do |saml| %>
          <tr>
            <td><%= t saml.provider, scope: [:samls, :providers] %></td>
            <td class="text-end"><%= link_to_show saml %></td>
            <% if current_user.security? %>
              <td class="text-end"><%= link_to_edit [:edit, saml] %></td>
              <td class="text-end"><%= link_to_destroy saml %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @samls %>
<% end %>

<% if !saml && !current_user.supervisor? %>
  <%= link_to_new new_saml_path, class: 'btn btn-primary' %>
<% end %>
