<div class="card my-3">
  <div class="card-header">
    <a class="dropdown-toggle text-reset d-block" href="#issue-board-form" data-toggle="collapse">
      <%= icon 'fas', 'pen' %>
      <%= t '.title' %>
    </a>
  </div>
  <div id="issue-board-form" class="card-body collapse">
    <%= simple_form_for Issue.new, url: issues_board_path, method: :patch do |f| %>
      <fieldset>
        <div class="row">
          <% if current_user.supervisor? %>
            <div class="col-lg-6">
              <%= f.input :description, as: :string, label: false, required: false, input_html: { autofocus: true } %>
            </div>
          <% end %>
          <div class="col-lg-<%= current_user.supervisor? ? 6 : 12 %>">
            <%= f.input :status, label: false, required: false, collection: issues_board_status, include_blank: '-' %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <%= f.simple_fields_for :subscriptions, Subscription.new do |sf| %>
              <%= render 'issues/subscriptions/subscription', f: sf %>
            <% end %>

            <p>
              <%= link_to_add_fields t('issues.new.subscription'), f, :subscriptions %>
            </p>
          </div>
          <div class="col-lg-6">
            <%= f.simple_fields_for :taggings, Tagging.new do |tf| %>
              <%= render 'issues/taggings/tagging', f: tf %>
            <% end %>

            <p>
              <%= link_to_add_fields t('issues.new.tagging'), f, :taggings, kind: 'issue' %>
            </p>
          </div>
        </div>

        <div class="row">
          <%= f.simple_fields_for :comments, Comment.new do |cf| %>
            <div class="col-sm-6">
              <%= cf.input :text, label: false, placeholder: t('comments.comment.text_placeholder'), input_html: { rows: 2 } %>
            </div>
            <div class="col-sm-3">
              <%= cf.input :file, label: false %>
            </div>
            <div class="col-sm-3 text-right">
              <div class="form-group form-check">
                <%= check_box_tag 'issue[group_comments_email]', 1, params[:issue]&[:group_comments_email], class: 'form-check-input' %>
                <label class="form-check-label" for="issue_group_comments_email"><%= t '.group_comments_email' %></label>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-lg-12 text-right">
            <%= f.button :submit, t('.submit'), class: 'btn-secondary' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
