<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#issue-board-form" data-toggle="collapse">
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t '.title' %>
        <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="issue-board-form" class="panel-body collapse">
    <%= simple_form_for :issue, url: issues_board_path, method: :patch do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-lg-5">
            <%= f.input :description, label: false, required: false, input_html: { autofocus: true } %>
          </div>
          <div class="col-lg-5">
            <%= f.input :status, label: false, required: false, collection: filter_status, include_blank: '-' %>
          </div>
          <div class="col-lg-2">
            <%= f.button :submit, t('.submit'), class: 'btn-block btn-default' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
