<% if @issues.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <%= render 'form' %>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= Run.human_attribute_name 'scheduled_at' %></th>
        <th><%= Issue.human_attribute_name 'created_at' %></th>
        <th><%= Issue.human_attribute_name 'description' %></th>
        <th><%= Issue.human_attribute_name 'status' %></th>
        <th class="text-right">
          <%= link_to empty_issues_board_path, class: 'btn btn-xs btn-default', data: { method: :delete } do %>
            <%= t '.clear' %>
            <span class="glyphicon glyphicon-send"></span>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <th><%= issue_validation_errors issue %></th>
          <td><%= l issue.run.scheduled_at, format: :compact %></td>
          <td><%= l issue.created_at, format: :compact %></td>
          <td><%= truncate issue.description, length: 50 %></td>
          <td><%= issue_status issue.status %></td>
          <td><%= link_to_remove_from_board issue, remote: false %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @issues %>
<% end %>
