<fieldset class="role_permission">
  <div class="row">
    <div class="col-sm-3">
      <strong><%= show_section f.object.section %></strong>
      <%= f.input :section, as: :hidden %>
    </div>
    <div class="col-sm-3">
      <%= f.input :read %>
    </div>
    <div class="col-sm-3">
      <%= f.input :edit %>
    </div>
    <div class="col-sm-3">
      <%= f.input :remove %>
    </div>
  </div>
</fieldset>
