<fieldset class="role_permission">
  <div class="row">
    <div class="col-sm-3">
      <strong><%= f.object.section.constantize.model_name.human count: 0 %></strong>
      <%= f.input :section, as: :hidden %>
    </div>
    <div class="col-sm-3">
      <%= f.input :read %>
    </div>
    <div class="col-sm-3">
      <%= f.input :edit %>
    </div>
    <div class="col-sm-3">
      <%= f.input :remove %>
    </div>
  </div>
</fieldset>
