<div class="table-responsive-sm">
  <table class="table table-centered table-sm table-permissions">
    <thead>
      <tr>
        <th><%= Permission.human_attribute_name 'section' %></th>
        <th><%= Permission.human_attribute_name 'read' %></th>
        <th><%= Permission.human_attribute_name 'edit' %></th>
        <th><%= Permission.human_attribute_name 'remove' %></th>
      </tr>
    </thead>

    <tbody>
      <%= f.simple_fields_for :permissions, permissions do |pf| %>
        <tr>
          <td>
            <%= show_section pf.object.section %>
            <%= pf.input :section, as: :hidden %>
          </td>
          <td><%= pf.input :read, label: false %></td>
          <td><%= pf.input :edit, label: false %></td>
          <td><%= pf.input :remove, label: false %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
