<div class="row" data-comment-id="<%= comment.id %>">
  <div class="col-lg-10 col-md-9">
    <blockquote class="blockquote ml-3 controls-container">
      <% if comment.owned_by? current_user %>
        <div class="row-controls float-end">
          <%= link_to_edit [:edit, @issue, comment], data: { remote: true } %> |
          <%= link_to_destroy [@issue, comment], data: { remote: true } %>
        </div>
      <% end %>

      <%= simple_format comment.text, class: 'mb-0' %>
    </blockquote>
    <footer class="blockquote-footer"><%= comment.user %></footer>
  </div>
  <div class="col-lg-2 col-md-3">
    <% if comment.attachment.attached? %>
      <p class="mb-3">
        <strong><%= Comment.human_attribute_name 'attachment' %></strong>:
        <%= link_to t('messages.download'), rails_blob_path(comment.attachment, disposition: 'attachment') %>
      </p>
    <% end %>
  </div>
</div>
