<%= simple_form_for @tag, url: [@tag, kind: @tag.kind] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
      <div class="col-sm-4">
        <%= f.input :style, collection: styles, prompt: false %>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
