<%= simple_form_for @tag, url: [@tag, kind: @tag.kind] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
      <div class="col-sm-4">
        <%= f.input :style, collection: styles, prompt: false %>
      </div>
    </div>

    <% if @tag.use_parent? %>
      <%= f.input :parent, as: :autocomplete, url: parent_tags_path(@tag), input_html: {
        data: { empty_result_label: t('.empty') }
      } %>
    <% end %>

    <% if @tag.use_effects? %>
      <div class="card my-3">
        <div class="card-header">
          <a class="text-reset text-decoration-none d-block" href="#effects" data-bs-toggle="collapse">
            <%= Effect.model_name.human count: 0 %>
          </a>
        </div>
        <div id="effects" class="collapse card-body">
          <%= f.simple_fields_for :effects, effects do |ef| %>
            <%= render 'effects/effect', f: ef, tag: @tag %>
          <% end %>

          <%= link_to_add_fields t('tags.new.effect'), f, :effects, tag: @tag %>
        </div>
      </div>
    <% end %>

    <% @tag.kind_options.each do |option, type| %>
      <% if type == :boolean %>
        <div class="custom-control custom-checkbox">
          <%= f.check_box option, class: 'custom-control-input' %>
          <label class="custom-control-label" for="tag_<%= option %>"><%= Tag.human_attribute_name option %></label>
        </div>
      <% else %>
        <%= f.input option, as: type %>
      <% end %>
    <% end %>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
