<ul class="nav nav-tabs mb-2">
  <% tag_kinds.each do |kind, name| %>
    <% active = kind.to_s == params[:kind] %>

    <%= content_tag :li, class: 'nav-item' do %>
      <%= link_to name, tags_path(kind: kind), class: "nav-link#{' active' if active}" %>
    <% end %>
  <% end %>
</ul>

<div class="card">
  <% if @tags.empty? %>
    <div class="card-body">
      <%= render 'shared/empty_index', message: t('.empty_html') %>
    </div>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Tag.human_attribute_name 'name' %></th>
          <th colspan="3">
            <%= link_to_new new_tag_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @tags.each do |tag| %>
          <%= content_tag :tr, class: tag.group && 'table-info' do %>
            <td><%= tag.name %></td>
            <td class="text-end"><%= link_to_show [tag, kind: tag.kind] %></td>
            <td class="text-end"><%= link_to_edit [:edit, tag, kind: tag.kind] %></td>
            <td class="text-end"><%= link_to_destroy [tag, kind: tag.kind] %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="mx-3">
      <%= paginate @tags %>
    </div>
  <% end %>
</div>

<%= link_to_new new_tag_path, class: 'btn btn-primary' %>
