<div class="card">
  <div class="card-header">
    <h5><%%= @<%= singular_table_name %> %></h5>
  </div>
  <div class="card-body">
    <%- attributes.each do |attribute| -%>
    <p class="mb-1">
      <strong><%%= <%= singular_table_name.camelize %>.human_attribute_name '<%= attribute.name %>' %></strong>:
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>
    <%- end -%>
  </div>
</div>

<%%= link_to_edit [:edit, @<%= singular_table_name %>] %> |
<%%= link_to_index <%= index_helper %>_path %>
