<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :description %>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>

    <div class="card">
      <div class="card-header">
        <h5>
          <%= Permission.model_name.human count: 0 %>
        </h5>
      </div>
      <div id="permissions" class="card-body">
        <%= f.simple_fields_for :permissions, role_permissions do |pf| %>
          <%= render 'permissions/permission', f: pf %>
        <% end %>

        <%= link_to_add_fields t('roles.new.permission'), f, :permissions %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
