<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, autofocus: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :type, collection: role_types, prompt: true %>
      </div>
    </div>
    <%= f.input :description %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="card">
      <div class="card-header">
        <h5>
          <%= Permission.model_name.human count: 0 %>
        </h5>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs nav-bordered mb-3">
          <li class="nav-item">
            <%= link_to t('roles.permissions.main'), "#main-permissions",
              data: { bs_toggle: 'tab' }, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to t('roles.permissions.config'), "#config-permissions",
              data: { bs_toggle: 'tab' }, class: 'nav-link' %>
          </li>
        </ul>
        <div class="tab-content">
          <div id="main-permissions" class="tab-pane active show">
            <%= f.simple_fields_for :permissions, main_permissions do |pf| %>
              <%= render 'permissions/permission', f: pf %>
            <% end %>
          </div>
          <div id="config-permissions" class="tab-pane">
            <%= f.simple_fields_for :permissions, config_permissions do |pf| %>
              <%= render 'permissions/permission', f: pf %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
