<div class="card">
  <div class="card-header">
    <h5><%= t '.title' %></h5>
  </div>

  <div class="card-body">
    <ul>
      <% @scripts.each do |script| %>
        <li>
          <% if @import_finished %>
            <strong><%= link_to script, script %></strong>
            <span class="badge badge-success">
              <%= t '.script_imported' %>
            </span>
          <% else %>
            <strong><%= (script.name.presence || script.uuid) %></strong>
            <span class="badge badge-danger"><%= t '.error' %></span> |
            <%= script.errors.full_messages.to_sentence %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= render 'form' %>
  </div>
</div>
