<div class="card">
  <div class="card-header">
    <h5><%= t '.title' %></h5>
  </div>

  <div class="card-body">
    <% if @scripts_with_errors && @scripts_with_errors.count > 0 %>
      <div class="alert alert-danger" role="alert">
        <%= t '.error_import' %></h5>
        <ul>
          <% @scripts_with_errors.each do |script| %>
            <li><%= script.name.blank? ? script.uuid : script.name %>: <%= script.errors.full_messages.to_sentence %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'form' %>
  </div>
</div>
