<% if @dashboards.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Dashboard.human_attribute_name 'name' %></th>
        <th colspan="3">
          <%= link_to_new new_dashboard_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-right' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @dashboards.each do |dashboard| %>
        <tr>
          <td><%= dashboard.name %></td>
          <td class="text-right"><%= link_to_show dashboard %></td>
          <td class="text-right"><%= link_to_edit [:edit, dashboard] %></td>
          <td class="text-right"><%= link_to_destroy dashboard %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @dashboards %>
<% end %>

<%= link_to_new new_dashboard_path, class: 'btn btn-primary' %>
