<h2><%= @dashboard %></h2>

<div id="panels">
  <% @dashboard.panels.order(:title).each do |panel| %>
    <%= render 'panels/panel', panel: panel %>
  <% end %>
</div>

<div id="new-panel" class="my-3"></div>

<p class="my-3" data-new-panel-btn>
  <%= link_to t('.add_panel'), new_dashboard_panel_path(@dashboard), class: 'btn btn-sm btn-secondary', data: { remote: true } %>
</p>

<%= link_to_edit [:edit, @dashboard] %> |
<%= link_to_index dashboards_path %>
