<div class="card">
  <div class="card-header">
    <h3><%= @dashboard %></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <% @dashboard.panels.order(:title).each do |panel| %>
        <%= render 'panels/panel', panel: panel %>
      <% end %>
    </div>

    <div id="new-panel"></div>

    <p data-new-panel-btn>
      <%= link_to t('.add_panel'), new_dashboard_panel_path(@dashboard), class: 'btn btn-sm btn-secondary', data: { remote: true } %>
    </p>
  </div>
</div>

<%= link_to_edit [:edit, @dashboard] %> |
<%= link_to_index dashboards_path %>
