<%= render 'filters' %>

<% if @databases.empty? %>
  <%= render 'shared/empty_index', message: empty_message %>
<% else %>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Database.human_attribute_name 'name' %></th>
          <th><%= Database.human_attribute_name 'driver' %></th>
          <th colspan="3">
            <%= link_to_new new_database_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @databases.each do |database| %>
          <tr>
            <td><%= database.name %></td>
            <td><%= database.driver %></td>
            <td class="text-end"><%= link_to_show database %></td>
            <td class="text-end"><%= link_to_edit [:edit, database] %></td>
            <td class="text-end"><%= link_to_destroy database %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @databases %>
<% end %>

<%= link_to_new new_database_path, class: 'btn btn-primary' %>
