<% if @databases.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Database.human_attribute_name 'name' %></th>
        <th><%= Database.human_attribute_name 'driver' %></th>
        <th colspan="3">
          <%= link_to_new new_database_path, class: 'btn btn-default btn-xs pull-right' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @databases.each do |database| %>
        <tr>
          <td><%= database.name %></td>
          <td><%= database.driver %></td>
          <td><%= link_to_show database %></td>
          <td><%= link_to_edit [:edit, database] %></td>
          <td><%= link_to_destroy database %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @databases %>
<% end %>

<%= link_to_new new_database_path, class: 'btn btn-primary' %>
