<h2><%= @database %></h2>

<p>
  <strong><%= Database.human_attribute_name 'driver' %></strong>:
  <%= @database.driver %>
</p>
<p>
  <strong><%= Database.human_attribute_name 'description' %></strong>:
  <%= @database.description %>
</p>

<% if @database.properties.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Property.model_name.human count: @database.properties.size %>
      </h3>
    </div>
    <div id="properties" class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Property.human_attribute_name 'key' %></th>
            <th><%= Property.human_attribute_name 'value' %></th>
          </tr>
        </thead>
        <tbody>
          <% @database.properties.each do |property| %>
            <tr>
              <td><%= property.key %></td>
              <td><%= property.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @database] %> |
<%= link_to_index databases_path %>
