<div class="card mb-3">
  <div class="card-header">
    <a class="dropdown-toggle text-reset d-block" href="#filters" data-toggle="collapse">
      <%= icon 'fas', 'search' %>
      <%= t 'filters.title' %>
    </a>

    <% if filters? %>
      <p class="text-warning mb-0 float-right">
        <%= icon 'fas', 'filter' %>
        <%= link_to schedule_runs_path(@schedule), title: t('cancel') do %>
          <%= icon 'fas', 'times-circle' %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div id="filters" class="card-body collapse">
    <%= simple_form_for :filter, method: :get do |f| %>
      <fieldset>
        <div class="row">
          <div class="col-lg-4">
            <%= f.input :status, required: false,
              collection: filter_run_status, include_blank: '-', selected: filter_params[:status],
              input_html: {
                autofocus: true,
                class:     'form-control-sm'
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :scheduled_at, as: :date_picker, required: false,
              input_html: {
                value: filter_params[:scheduled_at],
                class: 'form-control-sm',
                data:  { date_range: true }
              }
            %>
          </div>
          <div class="col-lg-4">
            <%= f.input :script_name,
              required: false,
              input_html: {
                value:     filter_params[:script_name],
                class:     'form-control-sm'
              }
            %>
          </div>
        </div>

        <p class="text-right mb-0">
          <%= f.button :submit, t('filters.submit'), class: 'btn-sm btn-secondary' %>
          <%= link_to t('cancel'), schedule_runs_path(@schedule), class: 'small' %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
