<% if @runs.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <caption>
      <h5>
        <%= Run.model_name.human count: @runs.count %> |
        <%= link_to @schedule, @schedule %>
      </h5>
    </caption>
    <thead>
      <tr>
        <th><%= Run.human_attribute_name 'status' %></th>
        <th><%= Run.human_attribute_name 'scheduled_at' %></th>
        <th class="visible-lg"><%= Run.human_attribute_name 'started_at' %></th>
        <th class="visible-lg"><%= Run.human_attribute_name 'ended_at' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @runs.each do |run| %>
        <tr>
          <td><%= run_status run.status %></td>
          <td><%= l run.scheduled_at, format: :compact %></td>
          <td class="visible-lg"><%= l run.started_at, format: :long if run.started_at %></td>
          <td class="visible-lg"><%= l run.ended_at, format: :long if run.ended_at %></td>
          <td><%= link_to_show run %></td>
          <td><%= link_to_destroy run %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @runs %>
<% end %>
