<h3>
  <span class="text-muted"><%= Run.model_name.human count: 1 %> -</span>
  <%= link_to @run.script, @run.script %>
  <span class="float-right">
    <%= run_status @run.status %>
  </span>
</h3>

<p class="mb-1">
  <strong><%= Run.human_attribute_name 'scheduled_at' %></strong>:
  <%= l @run.scheduled_at, format: :compact %>
</p>
<p class="mb-1">
  <strong><%= Run.human_attribute_name 'started_at' %></strong>:
  <%= l @run.started_at, format: :compact if @run.started_at %>
</p>
<p class="mb-1">
  <strong><%= Run.human_attribute_name 'ended_at' %></strong>:
  <%= l @run.ended_at, format: :compact if @run.ended_at %>
</p>

<% if @run.output.present? %>
  <div class="card my-3">
    <div class="card-header">
      <%= Run.human_attribute_name 'output' %>
      <% if @run.output.length > 200 %>
        <%= link_to run_path(@run, full_output: true), title: t('.full_output') do %>
          <%= icon 'fas', 'eye' %>
        <% end %>
      <% end %>
    </div>
    <div id="output" class="card-body">
      <pre><samp><%= run_output %></samp></pre>
    </div>
  </div>
<% end %>

<%= render 'shared/parsed_output_errors', exec: @run if @run.output.present? && @run.error? %>

<% if @run.outputs.with_text.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <%= Output.model_name.human count: @run.outputs.size %>
    </div>
    <div id="outputs" class="card-body">
      <% @run.outputs.with_text.each_with_index do |output, index| %>
        <h4 class="text-muted">#<%= index + 1 %> <%= output.rule %></h4>
        <pre><samp><%= output.text %></samp></pre>

        <% output.lines_with_errors.tap do |errors| %>
          <% if errors %>
            <ul>
              <% errors.each do |error| %>
                <li>
                  <%= link_to_error_line output.rule, error, valid: output.still_valid?, model_id: output.trigger_id %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @run.data.present? %>
  <div class="card mb-3">
    <div class="card-header">
      <%= Run.human_attribute_name 'data' %>
    </div>
    <div id="data" class="card-body">
      <%= render_object @run, '' %>
    </div>
  </div>
<% end %>

<% if @run.issues.any? %>
  <div class="card mb-3">
    <div class="card-header">
      <%= Issue.model_name.human count: @run.issues.size %>
    </div>
    <div id="issues" class="card-body">
      <ul class="list-unstyled">
        <% @run.issues.each do |issue| %>
          <li><%= link_to issue, issue %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render 'scripts/measures/graphs', format: :time if @measures.any? %>

<% if @run.can_be_killed? %>
  <div class="float-right">
    <%= link_to_force_kill_run %>
    <%= link_to_kill_run %>
  </div>
<% end %>

<%= link_to_index schedule_runs_path(@run.schedule) %>
