<% if @ldaps.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Ldap.human_attribute_name 'hostname' %></th>
          <th><%= Ldap.human_attribute_name 'port' %></th>
          <th colspan="3">
            <%= link_to_new new_ldap_path, class: 'btn btn-secondary btn-sm py-0 mr-n2 float-end' if !ldap %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @ldaps.each do |ldap| %>
          <tr>
            <td><%= ldap.hostname %></td>
            <td><%= ldap.port %></td>
            <td class="text-end"><%= link_to_show ldap %></td>
            <td class="text-end"><%= link_to_edit [:edit, ldap] %></td>
            <td class="text-end"><%= link_to_destroy ldap %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @ldaps %>
<% end %>

<%= link_to_new new_ldap_path, class: 'btn btn-primary' if !ldap %>
