<% collection = collection %>
<fieldset class="tag"<%= ' hidden' if f.object.marked_for_destruction? %>>
  <div class="row">
    <div class="col-sm-11">
      <% if collection && f.object.new_record? %>
        <%= f.association :tag, collection: tagging_tags(collection), label: false, prompt: true %>
      <% else %>
        <%= f.input :tag, as: :autocomplete, label: false, url: tags_path(kind: kind), input_html: {
          readonly: collection || unlimited_tag_form_edition_for?(kind),
          data: { empty_result_label: t('.empty') }
        } %>
      <% end %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls text-end mb-3 mb-sm-0 mt-n4 mt-sm-n2">
        <% unless unlimited_tag_form_edition_for?(kind) %>
          <%= f.input :id, as: :hidden %>
          <%= link_to_remove_nested_item f unless unlimited_tag_form_edition_for?(kind) %>
        <% end %>
      </div>
    </div>
  </div>
</fieldset>
