<div class="table-responsive my-3">
  <table class="table table-sm table-hover" data-container>
    <tbody>
      <% object.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td class="text-end"><%= link_or_show parent, k, v, object.object_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if can_be_graphed? object %>
  <div class="text-center mb-4">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <%= t '.graph.type' %>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" data-graph-type="line" data-graph-target="<%= object.object_id%>">
          <%= t '.graph.line' %>
        </a>
        <a class="dropdown-item" href="#" data-graph-type="bar" data-graph-target="<%= object.object_id%>">
          <%= t '.graph.bar' %>
        </a>
        <a class="dropdown-item" href="#" data-graph-type="pie" data-graph-target="<%= object.object_id%>">
          <%= t '.graph.pie' %>
        </a>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-xl-6">
      <%= graph_container object %>
    </div>
  </div>
<% end %>

<div data-container="<%= object.object_id %>"></div>
