<%= simple_form_for [@ticket, @rule] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-8">
        <%= f.input :name, input_html: { autofocus: true, disabled: disable_rule_edition? } %>
      </div>
      <div class="col-lg-2 col-md-2 col-4 pt-3">
        <div class="custom-control custom-checkbox mt-2">
          <%= f.check_box :enabled, disabled: disable_rule_edition?, class: 'custom-control-input' %>
          <label class="custom-control-label" for="rule_enabled"><%= Rule.human_attribute_name 'enabled' %></label>
        </div>
      </div>
    </div>

    <h5>
      <%= Trigger.model_name.human count: 1 %>
    </h5>

    <div id="triggers">
      <%= f.simple_fields_for :triggers, triggers do |rf| %>
        <%= render 'triggers/trigger', f: rf %>
      <% end %>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <hr>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
