<%= simple_form_for @rule do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-10 col-md-9 col-7">
        <%= f.input :name, input_html: { autofocus: true, disabled: disable_rule_edition? } %>
      </div>
      <div class="col-lg-2 col-md-3 col-5 pt-3 text-right">
        <div class="form-group form-check mt-2">
          <%= f.check_box :enabled, disabled: disable_rule_edition?, class: 'form-check-input' %>
          <label class="form-check-label" for="rule_enabled"><%= Rule.human_attribute_name 'enabled' %></label>
        </div>
      </div>
    </div>

        <h5>
          <%= Trigger.model_name.human count: 0 %>
        </h5>
      <div id="triggers">
        <%= f.simple_fields_for :triggers, triggers do |rf| %>
          <%= render 'triggers/trigger', f: rf %>
        <% end %>

        <%= link_to_add_fields t('rules.new.trigger'), f, :triggers unless disable_rule_edition? %>
      </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <hr>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
