<h2><%= @rule %></h2>

<p>
  <strong><%= Rule.human_attribute_name 'enabled' %></strong>:
  <%= t @rule.enabled ? 'yes' : 'no' %>
</p>

<% if @rule.triggers.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Trigger.model_name.human count: @rule.triggers.size %>
      </h3>
    </div>
    <div id="triggers" class="panel-body">
      <% @rule.triggers.each do |trigger| %>
        <div class="tiny-editor">
          <textarea id="trigger_callback_<%= trigger.id %>" data-editor data-readonly="true"><%= trigger.callback %></textarea>
        </div>

        <% if last_output(trigger).present? %>
          <hr>

          <h4><%= t '.last_output' %></h4>
          <p>
            <samp><%= last_output trigger %></samp>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to_edit [:edit, @rule] %> |
<%= link_to rules_exports_create_path(id: @rule), title: t('rules.index.export'), data: { method: :post } do %>
  <span class="glyphicon glyphicon-floppy-save"></span>
<% end %> |
<%= link_to_index rules_path %>
