<!doctype html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', data: { turbolinks_track: 'reload' }, media: 'all' %>
  <%= javascript_include_tag 'application', data: { turbolinks_track: 'reload' } %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
</head>
<body<%== ' class="authentication-bg"' unless current_user&.visible? %>>
  <div class="alert alert-warning fixed-top mx-auto mt-1 text-center border-0 p-2 loading-caption" hidden>
    <p class="mb-0">
      <strong><%= t 'navigation.loading' %></strong>
    </p>
  </div>

  <% if current_user&.visible? %>
    <div class="wrapper">
      <%= render 'shared/left_menu' %>

      <div class="content-page">
        <div class="content">
          <%= render 'shared/menu' %>

          <div class="content-fluid mt-3">
            <%= render 'shared/flash' if flash_message %>

            <%= yield %>
          </div>

          <%= render 'shared/help_modal' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container-fluid mt-2 mt-md-3">
      <%= render 'shared/flash' if flash_message %>

      <%= yield %>
    </div>
  <% end %>
</body>
</html>
