<%= simple_form_for @account do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :tenant_name, input_html: { disabled: @account.persisted? } %>
    <%= f.input :group_issues_by_schedule, as: :boolean %>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
