<div class="card">
  <div class="card-header">
    <h2><%= @account %></h2>
  </div>

  <div class="card-body">
    <p class="mb-1">
      <strong><%= Account.human_attribute_name 'tenant_name' %></strong>:
      <%= @account.tenant_name %>
    </p>

    <p class="mb-1">
      <strong><%= Account.human_attribute_name 'group_issues_by_schedule' %></strong>:
      <%= t @account.group_issues_by_schedule ? 'yes' : 'no' %>
    </p>

    <p class="mb-1">
      <strong><%= Account.human_attribute_name 'token_duration' %></strong>:
      <%= @account.token_interval %> <%= t "accounts.token_frequencies.#{@account.token_frequency}" %>
    </p>
  </div>
</div>

<%= link_to_edit [:edit, @account] %> |
<%= link_to_index accounts_path %>
