<div class="card">
  <div class="card-header">
    <h2><%= @account %></h2>
  </div>

  <div class="card-body">
    <p>
      <strong><%= Account.human_attribute_name 'tenant_name' %></strong>:
      <%= @account.tenant_name %>
    </p>
  </div>
</div>

<%= link_to_edit [:edit, @account] %> |
<%= link_to_index accounts_path %>
